[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytz = "*"
whitenoise = "*"
pillow = "*"
plotly = "*"
requests = "*"
beautifulsoup4 = "*"
postgres = "*"
django-jsonfield = "*"
django-embed-video = {git = "git+https://github.com/jazzband/django-embed-video"}
mimetypes = "*"

[dev-packages]

[requires]
python_version = "3.11"
