{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<script>
    function learnChord() {
        document.getElementById("learn_button").style.display = "none"
        document.getElementById("loading").style.display = "flex"
    }  
</script>
<br>
<br>
<br>
<div style="display:flex; justify-content: center;">
    <h1>Learn the {{c.chord_name}} chord</h1>
</div>
<h2></h2>
<br>
<div style="display:flex; justify-content: center;">
    <a href={{lookup_more}} target="_blank">
        {% if learn == "user_learned" %}
        <img class="img_hv" src="{{c.image_url}}" style="border-radius: 5px;width: 280px; height: 280px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41); border: 10px #2dcd72 solid;">
        {% else %}
        <img class="img_hv" src="{{c.image_url}}" style="border-radius: 5px;width: 280px; height: 280px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41); border: 10px #d29738 solid;">
        {% endif %}
    </a> 
</div>
{% if request.user.is_authenticated %}
{% if learn == "user_hasnt" %} 
    <br>
    <br>
    <form id="learn_button" style="display:flex; justify-content: center;" method="post">
        {% csrf_token %}
        <input type="hidden" name="learned" value="yes"/>
        <button style="background-color: #4267B2;
            border: none;
            color: white;
            padding: 7px 20px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            font-size: large;" class="img_hv" onclick="learnChord()" type="submit" value="submit">I Learned it ✅</button>
    </form> 
    <div  style="display: none;
        flex-wrap: wrap;
        justify-content: center;" id="loading">
        <img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=6c09b952w9ncxh3h71fhkc44kutr2yxbyrhct7c1wuawpwkh&ep=v1_gifs_search&rid=200w.gif&ct=g"/>
    </div>
{% elif learn == "user_learned" %}
    <br>
    <br>
    <div style="display:flex; justify-content: center;">
        <button style="background-color: #2dcd72;
            border: none;
            color: white;
            padding: 7px 20px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            font-size: large;">You learned it and earned it! ✅</button>
    </div> 
{% endif %}
{% endif %}
<br>
<div style="display:flex; justify-content: center;">
    <h3 id="while_lines" style="color:rgb(113, 113, 113);">(Click on the image to look at its variations!)</h3>
</div>
<br>
<br>
<div style="display:flex; justify-content: center;">
    <audio preload="none" controls="controls" style="margin-left: auto; margin-right: auto; display: inline-block; z-index: 0;">
        <source src={{c.audio_url}} type="audio/mp4" />
    </audio>
</div>
<br>
<br>
<br>
<div style="display:flex; justify-content: center;">
    <div style="padding: 3; font-size: larger; padding-left: 20px; padding-right: 20px;">Notes: </div>
    {% for c in chords %}
        <div style="padding: 3; font-size: larger; padding-left: 20px; padding-right: 20px; font-weight: bold;">{{c}}</div>
    {% endfor %}
</div>
<br>
<br>
<br>
<div style="display:flex; justify-content: center;">
    <h2 style="color:#db4444">Click to play note!</h2>
</div>
<div style="display:flex; justify-content: center;">
    <div class="piano-container">
        <ul class="piano-keys-list">
            {% for nd in night_and_day %}
                {% if nd.0 == "white-key" %}
                    <li class="piano-keys white-key key" onclick={{nd.1}}></li>
                {% elif nd.0 == "black-key" %}
                    <li class="piano-keys black-key key" onclick={{nd.1}}></li>
                {% elif nd.0 == "white-red-key" %}
                    <li class="piano-keys white-red-key key" onclick={{nd.1}}></li>
                {% else %}
                    <li class="piano-keys black-red-key key" onclick={{nd.1}}></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
       
</div>

<br>
<hr>
<br>
<h2>Appears in: </h2>
<div style="display: flex;
        flex-wrap: wrap; justify-content: center;">
    <ul style="list-style: none;margin-left: auto; margin-right: auto;">
        {% for rs in related_songs %}
        <li>
            <div style="
            padding: 10px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            border-radius: 5px;
            margin-left: -15px;
            ">
                <img src={{rs.3}} style="border-radius: 95%; width: 60px; height: 60px; margin-top: auto; margin-bottom: auto; margin-left: 30px; margin-right: 20px; border: 5px #4267B2 solid; ">
                <a  href="{% url 'song' rs.4 %}" style="margin-top: auto; margin-bottom: auto; margin-left: 10px; margin-right: 10px; font-size: larger; color:blue; text-decoration: none;">{{rs.0}} by {{rs.1}}</a>
                <span style="margin-top: auto; margin-bottom: auto; margin-left: 10px; margin-right: 10px; font-size: meidum;"> Version {{rs.2}} </span>
        </div>
        </li>
        <br>
        {% endfor %}
    </ul>
</div>
{% for mn in media_notes  %}
    <audio id={{mn.0}} controls style="display: none;"><source src={{mn.1}} type="audio/mpeg"></audio> 
{% endfor %}

<script>
    function playNote(note) {
        const audio =document.getElementById(note)
        audio.currentTime = 0;
        audio.play();
    }
</script>
 {% endblock %}