{% extends 'project/base.html' %}

{% block content %}
<!-- A welcome message greeting the user. -->
<h1>WELCOME</h1>
<form method = 'POST'>
{% csrf_token %}
 <div style="display: flex; justify-content: center;">
    <!-- The below form displays all the fields the user needs to fill in to log in -->
    <div class="my-form">
        {{form}}
     </div>
 </div>
 <br>
 <!-- The below button is the submit button for the user to log in. -->
 <div style="display: flex; justify-content: center;">
    <button class="img_hv" style="
    padding: 6px;
    font-size: 175%; 
    background-color: #d69928;
    height: fit-content;
    color:aliceblue;
    margin-left: auto; margin-right: auto;" type="submit" name="submit" value="Login">Let's Rock!</button>
 </div>

<!-- The below message allows a user who has never made an account before to make an account. -->
<br><br>
<h2>First time? Register <a class="a_hv" style="color: #d69928;" href="{% url 'register_guitar_app' %}">here</a>!</h2>
{% if request.GET.next %}
<input type="hidden" name="next" value="{{request.GET.next}}"> 
{% else %}
<!-- The below message forwards the user to search songs page section after being logged in. -->
<input type="hidden" name="next" value="{% url 'search_songs' %}"> 
{% endif %}
</form> 
{% endblock %}