{% extends 'restaurant/base.html' %}

{% block body %}
    <h1>Order Confirmation</h1>

    <p class="dark_aqua shadow">Hi, {{name}}!</p>

    <p>We will send you a notification to {{email}} and an SMS to {{phone}} once your order is ready.</p>

    <p class="light_purple shadow">Here are the items you have ordered: </p>
    {% for descrip in item_list %}
        <p>{{descrip}}</p>
    {% endfor %}
    <br>  

    <p style="text-decoration: underline;">The total emeralds you need to bring: {{emeralds_required}}</p>

    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d44e8e4c-db34-4361-8508-e7288d4cc10f/d5a0tlk-09fd7f7b-7d6d-4634-8e65-ddd74583f578.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q0NGU4ZTRjLWRiMzQtNDM2MS04NTA4LWU3Mjg4ZDRjYzEwZlwvZDVhMHRsay0wOWZkN2Y3Yi03ZDZkLTQ2MzQtOGU2NS1kZGQ3NDU4M2Y1NzguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.c6SQy85sngwJU-uOYQWDoQFTFD6LvMlwSb_xZeJhR90">

    <h1>Your items will be ready by <span class="yellow">{{when_it_will_be_ready}}</span></h1>

    <p style="text-decoration: underline;">Your special instructions: </p>

    <p>{{comments}} </p>

{% endblock %} 