{% extends 'restaurant/base.html' %}
{% load static %}

{% block body %}
    <h1 class="black">
        Hello there! 
        <br>
        Welcome to Gopchang Story Boston (Minecraft Version)!
        <br>
        <br>
        <img src="../static/minecraft_restaurant.png" style="width: 500px; border: 1px white solid "> 
        <br>
        <br>
        We are located at 973 Commonwealth Ave, Boston, MA 02215.
        <br>
        <br>
        <img src="../static/location_rest.png" style="width: 500px; border: 1px white solid ">
        <br>
        <br>
        Disclaimer: 
        <br>
        Please don't actually go into the restaurant, but proceed to the nearby parking lot. 
        <br>
        You will see a door that looks something like this:
        <br>
        <br>
        <img src="https://media.tenor.com/donUNbjmXBUAAAAM/1111.gif" style="width: 300px; ">
        <br>
        <br>
        If you see such a portal, that means we are open. Please STEP IN!!!
        <br>
        <br>
        <span style="text-decoration: underline;">Hours of Operation:</span>
        <br>
        <br>
        <table style="margin-left: auto; margin-right: auto; font-size: 90%;"> 
            <tr>
                <td style="margin-right: 15px;">Sunday:</td>
                <td >5 PM–12 AM</td>
            </tr>
            <tr>
                <td style="margin-right: 15px;">Monday:</td>
                <td >5 PM–12 AM</td>
            </tr>
            <tr>
                <td style="margin-right: 15px;">Tuesday:</td>
                <td >5 PM–12 AM</td>
            </tr>
            <tr>
                <td style="margin-right: 15px;">Wednesday:</td>
                <td >5 PM–12 AM</td>
            </tr>
            <tr>
                <td style="margin-right: 15px;">Thursday:</td>
                <td >5 PM–12 AM</td>
            </tr>
            <tr>
                <td style="margin-right: 15px;">Friday:</td>
                <td >5 PM–1 AM</td>
            </tr>
            <tr></tr>
                <td style="margin-right: 15px;">Saturday:</td>
                <td >5 PM–1 AM</td>
            </tr>
        </table>
        <br>
        <br>
        <img src="https://media.tenor.com/L8MBo0DXxoEAAAAj/minecraft.gif" style="width: 300px; ">
        <br>
        <br>
        WARNING: Beware of CREEPERS! 
        <br>
        <br>
    </h1>
{% endblock %}