{% extends 'mini_fb/base.html' %}
{% load static %}

{% block body %}
<h1 style=" width: fit-content; margin-left: auto; margin-right: auto; padding: 5px;">NEWS FEED For {{p.first_name}}</h1>
<div style="padding: 40px; margin-left: auto; margin-right: auto; ">
    <ul style="list-style-type: none; margin-left: -35px; margin-right: auto; ">
        <hr>
        {% if p.get_news_feed %}
        {% for sm in p.get_news_feed %}
            <li>
                <br>
                <br>
                <img src="{{sm.profile.image_file.url}}" style="border-radius: 95%; width: 80px; height: 80px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41); ">
                <div style="margin-left: auto; margin-right: auto; ">
                    <div style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;">
                        <h2 class="dark_aqua">{{sm.profile.first_name}} {{sm.profile.last_name}} posted at {{sm.timestamp}}: </h2>
                        {% for img in sm.get_images %}
                            <img style="height: 150px; margin: 8px;" src='{{img.image_file.url}}'>
                        {% endfor %}
                        <h3> {{sm.message}}</h3>
                        <br><br>
                        <br>
                    </div>
                </div>
                <hr>
            </li>
        {% endfor %}
    {% else %}
        <p style="opacity: 70%">No one posted anything recently.</p>
    {% endif %}
    </ul>
</div>
 {% endblock %}